.form {
  padding:10px;
}
.form label{
  margin-top:15px;
}
.form input{
  padding:5px 4px;
}
.form input,
.form textarea{
  width:100%;
  margin:10px 0;
  border:none;
  outline:none;
  border-radius:8px;
  background-color:#e2e2e2;
}
.form textarea{
  padding:10px 8px;
}
.form button{
 margin:10px 0;
 padding:4px 30px;
 background-color:#b987f9;
 color:#fff;
 border-radius:3px;
 border:1.3px solid #6900f0;
}