* {
  padding:0;
  box-sizing:border-box;
  margin:0;
  }
  body{
    font-family:Arial;
    padding-top:20px;
   /* background-color:#eaeaea;*/
  }
  .app{
    margin-top:3em;
    width:80%;
    padding:0 3em;
  }
h3{
  margin:10px 10px;
  font-style:italic;
}
.empty{
  margin:10px 15px;
  color:#c9c9c9;
}
@media screen and (max-height:768px){
  body{
    display:block;
  }
  .app{
    position:none;
    width:100%;
    padding:0;
    margin:0;
  }
}